<div data-ll-modal data-window-class="full card-view">
    <div class="row">

        <div class="large-9 medium-9 small-9 columns">
            <h3 class="subheader">
                #{{card.iid}} {{ card.title }}
            </h3>

        <div data-ll-markdown data-markdown="card.description">
        </div>

            <div class="checklist">
                <div class="row">
                    <div class="large-11 columns">
                        <div data-ng-repeat="(checkboxId, checkbox) in card.todo">
                            <input data-ng-disabled="isSavingTodo" data-ng-change="updateTodo(card)" type="checkbox" id="todo-{{ checkboxId }}" data-ng-model="checkbox.checked">
                            <label style="width: 90%;" for="todo-{{ checkboxId }}">{{ checkbox.body }}</label>
                            <span data-ng-disabled="isSavingTodo" class="right info" data-ng-click="removeTodo($index, card)"><i style="color:#DADADA;" class="fa fa-remove"></i></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <form name="todoForm" data-ng-submit="submitTodo(card)">
                            <div class="row collapse prefix-round">
                                <div class="small-12 columns">
                                    <input data-ng-focus="isTodoAdd" data-ng-disabled="isSavingTodo" type="text" name="body" data-ng-model="todoFormData.body" placeholder="Add Todo">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="comments" class="row collapse">

                <div class="row collapse" data-ng-repeat="comment in comments">
                    <div class="large-1 medium-1 small-1 columns avatar">
                        <span style="border-radius: 50%;" class="th" data-ng-show="comment.author.avatar_url != undefined">
                                <img style="border-radius: 50%;" alt="{{comment.author.name}}" data-ng-src="{{comment.author.avatar_url}}"/>&nbsp;
                        </span>
                        <span class="th {{  comment.author.username  | lowercase| limitTo : 1}}-ava" data-ng-show="comment.author.avatar_url == undefined">
                                {{ comment.author.username| lowercase| limitTo : 1}}
                        </span>
                    </div>

                    <div class="large-11 madium-11 small-11 columns" style="padding-left: 20px">
                        <div>
                            <h5  class="comment-header">{{comment.author.name}} <small class="text-lither right">{{comment.created_at * 1000 | date:'dd-MM-yyyy HH:mm'}}</small></h5>
                            <div class="comment-body" data-ll-markdown data-markdown="comment.body"></div>
                        </div>
                        <hr/>
                    </div>
                </div>

                <form name="commentForm" data-ng-submit="submitComment()">
                    <div class="row collapse prefix-round">
                        <div class="small-12 columns">
                            <input data-ng-focus="isCommentAdd" data-ng-disabled="isSaving" type="text" name="comment" data-ng-model="commentFormData.comment" placeholder="Add comment"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="large-3 medium-3 small-3 columns">
            <div id="participants" class="row collapse">

                <div class="row collapse" data-ng-show="card.author != undefined" style="margin-bottom:15px;">
                    <h5 class="subheader">
                        Author
                    </h5>

                    <div class="large-1 medium-1 small-1 columns avatar">
                        <img alt="{{card.author.name}}" data-ng-src="{{card.author.avatar_url}}" style="width: 20px"/>
                    </div>

                    <div class="large-10 medium-10 small-10 columns">
                        <h6>{{card.author.name}}</h6>
                    </div>
                </div>

                <div class="row collapse assignee" style="margin-bottom:15px;">
                    <div class="row collapse">
                        <div class="large-8 medium-8 small-8 columns">
                            <h5 class="subheader">
                                Assignee
                            </h5>
                        </div>

                        <div class="large-4 medium-4 small-4 columns">
                            <h5 class="subheader right" data-dropdown-toggle="#dropdown-example-2">&nbsp;
                                <a class="dropdown">
                                    <i class="fa fa-gear">&nbsp;</i>
                                </a>
                            </h5>
                        </div>

                        <ul id="dropdown-example-2" class="f-dropdown">
                            <li data-ng-repeat="user in options">
                                <a data-ng-click="update(card, user)">
                                    <span class="avatar" data-ng-show="user.avatar_url != undefined">
                                        <img alt="{{user.name}}" data-ng-src="{{user.avatar_url}}"/>
                                    </span>
                                    <span class="avatar {{ user.username|lowercase|limitTo : 1}}-ava" data-ng-show="user.avatar_url == undefined">
                                            {{ user.username|lowercase|limitTo : 1}}
                                    </span>
                                    &nbsp;
                                    {{user.name}}
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="row collapse">
                        <div class="large-1 medium-1 small-1 columns avatar" data-ng-if="!isEmpty(card.assignee)">
                            <span class="avatar" data-ng-show="card.assignee.avatar_url != undefined">
                                <img alt="{{card.assignee.name}}" data-ng-src="{{card.assignee.avatar_url}}"/>&nbsp;
                            </span>
                            <span class="avatar {{  card.assignee.username|lowercase|limitTo : 1}}-ava" data-ng-show="card.assignee.avatar_url == undefined">
                                    {{ card.assignee.username| lowercase| limitTo : 1}}
                            </span>
                        </div>

                        <div class="large-10 medium-10 small-10 columns" data-ng-if="!isEmpty(card.assignee)">
                            <h6>{{card.assignee.name}}</h6>
                        </div>

                        <div class="large-12 medium-12 small-12 columns" data-ng-if="isEmpty(card.assignee)">
                            <h6>Not assigned</h6>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="row collapse" style="margin-bottom:15px;">
                <div class="row collapse">
                    <div class="large-8 medium-8 small-8 columns">
                        <h5 class="subheader">
                            Milestone
                        </h5>
                    </div>

                    <div class="large-4 medium-4 small-4 columns">
                        <h5 class="subheader right" data-dropdown-toggle="#select-milestone">&nbsp;
                            <a class="dropdown">
                                <i class="fa fa-gear">&nbsp;</i>
                            </a>
                        </h5>
                    </div>

                    <ul id="select-milestone" class="f-dropdown">
                        <li data-ng-repeat="milestone in milestones" data-ng-if="milestones.length > 0">
                            <a data-ng-click="updateMilestone(card, milestone)">{{milestone.title}}</a>
                        </li>

                        <li data-ng-if="milestones.length == 0">
                            <a>No milestones</a>
                        </li>
                    </ul>
                </div>

                <div class="row collapse">
                    <div class="large-12 medium-12 small-12 columns">
                        <h6 data-ng-if="!isEmpty(card.milestone)">{{card.milestone.data.title}}</h6>
                        <h6 data-ng-if="isEmpty(card.milestone)">Not selected</h6>
                    </div>
                </div>
            </div>
            <!-- Milestone END -->

            <!-- Labels -->
            <div class="row collapse" style="margin-bottom:15px;">
                <div class="row collapse">
                    <div class="large-8 medium-8 small-8 columns">
                        <h5 class="subheader">
                            Labels
                        </h5>
                    </div>

                    <div class="large-4 medium-4 small-4 columns">
                        <h5 class="subheader right" data-dropdown-toggle="#select-labels">&nbsp;
                            <a class="dropdown">
                                <i class="fa fa-gear">&nbsp;</i>
                            </a>
                        </h5>
                    </div>

                    <ul id="select-labels" class="f-dropdown">
                        <li data-ng-repeat="(key, label) in labels" data-ng-if="labels.length > 0">
                            <a data-ng-click="updateLabels(card, label)">
                                <span class="label" style="background-color: {{label.color}}">
                                    {{label.name}}
                                </span>
                                <i class="fa fa-check" ng-if="card.viewLabels.indexOf(label) !== -1">&nbsp;</i>
                            </a>
                        </li>
                        <li data-ng-if="isEmpty(labels)">
                            <a>No labels</a>
                        </li>
                    </ul>
                </div>

                <div class="row collapse">
                    <ul style="list-style: none; margin-left:0;">
                        <li data-ng-repeat="label in card.viewLabels" data-ng-if="!isEmpty(card.viewLabels)">
                            <span class="label" style="background-color: {{label.color}}">
                                {{ label.name }}
                            </span>
                        </li>
                        <li data-ng-if="isEmpty(card.viewLabels)">
                            <h6>No labels</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Labels END -->

            <div class="row collapse">
                <a data-ng-click="remove(card)">
                    <i class="fa fa-trash">&nbsp;</i> Close
                </a>
            </div>
        </div>

    </div>
</div>
