body{
    &.modal-open{
        overflow: hidden;
    }
    .reveal-modal{
        background: $reveal-overlay-bg;
        overflow-y: scroll;
        padding: 0;
        .reveal-modal-bg{
            z-index: -1;
            display: block;
            background-color: transparent;
        }
        .body-modal{
            background-color: $white;
            padding: 30px;
            max-width: $row-width;
            margin: 100px auto 50px auto;
        }
    }
}
