@import "normalize";
@import "settings";
@import "foundation";
@import "font-awesome";
@import "flex";
@import "boards";
@import "avatars";
@import "modal";

body {
    @extend body;
    height: auto;
    background: #ececec;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-lither {
    color: $base;
}

input, textarea {
    border-top-width: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    box-shadow: none !important;
}

input.border{
  border-width: 1px !important;
}

.top-bar-section {
    input {
        background-color: $oil;
        color: $white;
    }
    ul li{
        background-color: $topbar-bg-color;
    }
}

.checklist {
    input[type="checkbox"]:checked + label {
        text-decoration: line-through;
        color: $aluminum;
    }
    input[type="checkbox"] + label {
        color: $steel;
    }
    input[type="text"][disabled] {
        border-color: $white;
        color: $smoke;
        background-color: $white;
    }
}

.label {
    letter-spacing: 1px;
}

.card {
    h6 {
        font-size: 0.9rem;
    }
}

.board-stage {
    position: relative;
}

.row.participants {
    .columns {
        height: 30px;
        padding-right: 10px;
    }
}

.panel.column-header {
    border: none;
    margin-bottom: 0;
    position: relative;
    border-bottom: solid 2px lightgray;
    background: #fdfdfd;

    h4 {
        font-size: 0.9rem;
        text-transform: uppercase;
    }
}

.arrow {
    content: '';
    border-style: solid;
    border-width: 50% 0 50% 30px;
    border-color: transparent transparent transparent #007bff;

    top: 0;
    bottom: 0;
    right: 0px;
}

.as-sortable-item {
    border: solid 2px lightgray !important;
    border-radius: 0 !important;
    border-left: none !important;
    border-right: none !important;
    margin: 0 !important;
    border-top: none !important;
}

.as-sortable-item {
    background: #fff !important;
}

.as-sortable-placeholder {
    margin: 0 !important;
    border: none !important;
    background: rgba(0, 0, 0, 0.45);
    height: auto !important;
    bottom: 0;
    z-index: 10 !important;
    position: absolute !important;
    top: 0 !important;
    width: auto !important;
    left: 0;
    right: 0;
}

#issues-list {
    height: 100vh;
    overflow-y: auto;
    padding-left: 0;

    .panel {
        margin-bottom: 0;
    }
}

#issue {
    height: 100vh;
    padding-left: 0;
    overflow-y: scroll;
}

#main-section {
    padding-top: 45px;
}

.top-bar.open {
    color: #fff !important;
    background: #019875;
    * {
        background: #019875;
    }

    .top-bar-section li:not(.has-form) a:not(.button):hover {
        background: #019875;
    }

    .top-bar-section li:not(.has-form) a:not(.button) {
        background: #019875;
    }
}

.description {
    padding: 20px;
}

.board-issue-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#loading-bar-spinner {
    right: 15px;
    top: 15px !important;
    left: auto !important;
}

#loading-bar .bar {
    height: 4px !important;
}

#comments {
    p {
        margin-bottom: 0.7rem;
    }

    .th{
        width: 49px;
        height: 49px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        font-size: 36px;
        color: #fff;
        line-height: 36px;
    }

    input[type="text"][disabled] {
        border-color: $white;
        color: $smoke;
        background-color: $white;
    }

    .comment-body{
        color: $charcoal;
    }
    .comment-header{
        color: $steel;
        font-weight: 300;
    }
}

.assignee{
    .avatar{
        height: 20px;
        display: inline-block;
        text-align: center;
        line-height: 18px;
        color: $white;
        font-size: 16px;
        width: 20px;
        img{
            width: 20px;
        }
        border-radius: 50%;
    }
}

fieldset {
    background: #fff;
}

.off-canvas-wrap {
    min-height: 100vh;

    .inner-wrap {
        min-height: 100vh;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.img-round {
    border-radius: 50%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-footer{
    padding-top: 30px;
}

.loading{
    opacity: 0.5;
}

.body-modal{
    h6{
        color: #666;
        font-weight: 300;
    }
}

#loading-bar .bar {
    background-color: $white !important;
    border: 1px solid #259CC3 !important;
    height: 4px !important;
}
